<div>
  <h2 id="page-heading" data-cy="VentaHeading">
    <span jhiTranslate="backendCatedraApp.venta.home.title">Ventas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="backendCatedraApp.venta.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-venta"
        [routerLink]="['/venta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="backendCatedraApp.venta.home.createLabel">Crear nuevo Venta</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (ventas().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="backendCatedraApp.venta.home.notFound">Ningún Ventas encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fechaVenta">
              <div class="d-flex">
                <span jhiTranslate="backendCatedraApp.venta.fechaVenta">Fecha Venta</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estado">
              <div class="d-flex">
                <span jhiTranslate="backendCatedraApp.venta.estado">Estado</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descripcion">
              <div class="d-flex">
                <span jhiTranslate="backendCatedraApp.venta.descripcion">Descripcion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="precioVenta">
              <div class="d-flex">
                <span jhiTranslate="backendCatedraApp.venta.precioVenta">Precio Venta</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cantidadAsientos">
              <div class="d-flex">
                <span jhiTranslate="backendCatedraApp.venta.cantidadAsientos">Cantidad Asientos</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="evento.titulo">
              <div class="d-flex">
                <span jhiTranslate="backendCatedraApp.venta.evento">Evento</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="asientos.id">
              <div class="d-flex">
                <span jhiTranslate="backendCatedraApp.venta.asientos">Asientos</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (venta of ventas(); track trackId(venta)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/venta', venta.id, 'view']">{{ venta.id }}</a>
              </td>
              <td>{{ venta.fechaVenta | formatMediumDate }}</td>
              <td [jhiTranslate]="'backendCatedraApp.VentaEstado.' + (venta.estado ?? 'null')">
                {{ { null: '', PENDIENTE: 'PENDIENTE', EXITOSA: 'EXITOSA', FALLIDA: 'FALLIDA' }[venta.estado ?? 'null'] }}
              </td>
              <td>{{ venta.descripcion }}</td>
              <td>{{ venta.precioVenta }}</td>
              <td>{{ venta.cantidadAsientos }}</td>
              <td>
                @if (venta.evento) {
                  <div>
                    <a [routerLink]="['/evento', venta.evento.id, 'view']">{{ venta.evento.titulo }}</a>
                  </div>
                }
              </td>
              <td>
                @for (asientos of venta.asientos; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/asiento', asientos.id, 'view']">{{ asientos.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/venta', venta.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/venta', venta.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(venta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
